@model MSP_ProyectoMultimedia2024.Models.Dto.CategoriasDTO

@{
    ViewData["Title"] = "Editar Categoría";
}

<h1>Editar Categoría</h1>

<h4>Categorías</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                </div>
                <div class="col-md-6 text-right">
                    <input type="submit" value="Guardar Categoría" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
